<div id="toolbar">
    <div class="menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="title"><span class="pageTitle">{{title}}</span></div>
    <div class="login_button">
        <button id="vk_login" style="display: none;">Login</button>
        <button id="vk_logout" style="display: none;">Logout</button>
    </div>
</div>